<div class="container-fluid">
  <br />
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <input
        [ngModel]="name"
        class="form-control"
        id="exampleInputEmail1"
        placeholder="search mobile here"
        (ngModelChange)="onChange($event)"
      />
    </div>
    <div class="col-md-3">
      <!-- <button type="button" class="btn btn-primary" (click)="OnfetchPosts()">
        Search

        (change)="onChange($event)"
      </button> -->
    </div>
  </div>
  <b>
    <hr />
  </b>
  <div class="row">
    <div class="cols-sm-12" *ngIf="this.ProductList.length == 0">
      No Records
    </div>
    <div
      class="col-sm-3"
      *ngFor="let prdt of ProductList"
      style="margin-bottom: 2%"
    >
      <div class="card" style="width: 18rem">
        <img
          src="{{ prdt.thumbnail }}"
          class="card-img-top"
          style="height: 200px"
          alt="{{ prdt.title }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ prdt.title }}</h5>
          <p class="card-text">
            {{
              prdt.description.length > 6
                ? (prdt.description | slice : 0 : 30) + "..."
                : prdt.description
            }}
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
